
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My Angular App</title>
</head>
<body>
    <div ng-app="mainApp">
        <ng-view></ng-view>
    </div>

</body>
</html>

